Button {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 45px;
    width: 80%;
    height: 10%;
    background-color: rgb(113, 183, 105);
    -unity-text-outline-color: rgba(56, 56, 56, 0);
}
